@import url('/fonts/SF-Pro-Text/stylesheet.css');

:root {
    --bg-primary: #171717;
    --bg-secondary: #2C2C2C;
    --bg-side-bar: #1E1E1E;

    --text-primary: #FFF;
    --text-secondary: #E2E2E2;

    --primary: #FF6B00;
}

* {
    font-family: 'SFProText', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-primary);
}

body {
    background: var(--bg-secondary);
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
}

.flex {
    display: flex;
}

.highlight {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}