#app-movie {
    flex-direction: column;
    gap: 36px;
    width: calc(100% - 30px - 16px);

    .movie-header {
        justify-content: space-between;
        align-items: center;

        width: calc(100% - 30px);
        margin-top: 20px;

        h1 {
            font-size: 3em;
            font-weight: bold;
        }

        .movie-rating {
            align-items: center;
            height: fit-content;
            gap: 8px;

            img {
                height: 19px;
            }

            .rating {
                align-items: baseline;

                span {
                    &:nth-child(1) {
                        font-size: 2em;
                        font-weight: normal;
                    }

                    &:nth-child(2) {
                        opacity: 0.5;
                        font-size: 1.5em;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .movie-content {
        justify-content: space-between;
        gap: 24px;

        .movie-poster-tags {
            flex-direction: column;
            gap: 16px;

            img {
                //height: min(45vh, 10vw);
                width: auto;
                object-fit: fill;
            }

            .tags {
                display: flex;
                gap: 6px;
                .tag {
                    font-size: 0.9em;
                    width: fit-content;
                    padding: 4px 10px;
                    border: var(--text-secondary) 1px solid;
                    border-radius: 40px;
                    color: var(--text-secondary);

                    align-items: center;

                    .tag-star {
                        font-size: 0.8em;
                        text-align: center;
                        margin-right: 4px;
                    }
                }
            }
        }
        .movie-trailer {
            justify-content: space-between;
            flex-direction: column;

            iframe {
                height: min(43vh, 23vw);
                max-width: 60vw;
                aspect-ratio: 16 / 9;
                border-radius: 12px;
            }
            .buttons {
                justify-content: space-between;

                .save {
                    button {
                        background: #2C2C2C88;
                        border-radius: 100px;
                        overflow: hidden;
                    }
                }

                button {
                    &:hover {
                        background: var(--bg-secondary);
                    }

                    cursor: pointer;
                    align-items: center;

                    gap: 12px;
                    padding: 8px 14px;

                    img {
                        height: 20px;
                        object-fit: contain;
                    }

                    span {
                        font-size: 0.8em;
                        font-weight: bold;
                        height: fit-content;
                    }
                }

                .rating {
                    width: fit-content;

                    border-radius: 100px;

                    background: #2C2C2C88;

                    overflow: hidden;


                    .v-separator {
                        background: rgba(255, 255, 255, 0.2);
                        margin: 6px 0;
                        height: auto;
                        width: 1px;
                    }


                }
            }
        }
    }
    .movie-info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        hr {
            height: 1px;
            width: 100%;
            background-color: var(--text-secondary);
        }

        .movie-author {
            span:nth-child(1) {
                font-weight: 700;
            }
        }
    }
}