.app {
    padding: 0;

    overflow-y: auto;

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 120px;

        .title {
            text-align: center;

            font-size: 4em;

            font-weight: 600;

            margin-top:  70px;
            margin-bottom: 0;
        }
    }
}